html {
    font-size: 24px;

    background-color: #000000;
}

a {
    color: #00d1b2;
}
main {
    margin: 0px; 
    padding: 0px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid red;
    font-size: 1.25em;
    padding: 3px;
}

.navi {
    text-decoration: none;
    color: white;
    padding-right: 2em;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: #f0f0f8;
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fff;
    margin: 80px auto;
    padding: 10px;
    padding-bottom: 75px;
    border: 1px solid #e7e7f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.24), 0 6px 20px 0 rgba(0, 0, 0, 0.42);
    width: 80%;
    height: 60%;
    overflow: scroll;
}

/* The Close Button */
.close {
    z-index: 1;
    color: #E31337;
    right: 15px;
    float: right;
    top: 15px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



* {
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}

.landing-page::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/background.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
}

.page-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    max-width: 800px;
    text-align: center;
    padding: 0 40px;
    box-sizing: border-box;
}

.page-content h1 {
    color: #00d1b2;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 20px;
}

.page-content p {
    color: #fff;
    margin-bottom: 20px;
}

.page-content a {
    display: inline-block;
    text-decoration: none;
    color: #00d1b2;
    border: 2px solid #00d1b2;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: 0.2s linear;
}

.page-content a:hover {
    color: #fff;
    background: #00d1b2;
}

.text {
    min-height: 60vh;
    padding: 10px;
    text-align: center;
    color: white;
}

.text div {
    margin-bottom: 6px;
}

#learnmore {
    color: #00d1b2;
    background: black;
    margin: auto;
    padding: 25px;
    min-height: 100vh;

    padding-top: 65px;
}


#footer {
    background: black;
    color: #00d1b2;
    margin: 0px;
    padding: 0px;
    text-align: center;
}



.footer {
    font-size: 1em;
    background-color: #000000;
    padding: 3rem 1.5rem 6rem;
    color: white;
    display: block;
    margin: auto;
    width: 100%;
    border: 1px solid black;
    min-height: 100vh;
}

.adbox {
    width: 728px;
    height: 90px;
    border: 1px dashed red;
    bottom: 0px;
    position: absolute;
    background: yellow;
    z-index: 1;
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem;
    float: left;
    margin: 0px;
    width: 30%;
}