
      <h1 id="introduction">whoami:</h1>
      <p>I am snahn ip, aka: sn0n, but really, Rob... I'll fill this in more later... always later, but for now, check out my profile on <a href="https://personal.community/?hive=sn0n">personal.community</a></p>


      <a class="topOfPage" href="#top" title="Go to the top of this page">^ TOP</a>

