
<h1 style="color: #00d1b2; margin: auto; text-align: center; justify-content: center; margin-top: 65px; font-size: 2em;">sn0n's $hive feed</h1>

<div id="post" class="text">

</div>
<script src="https://cdn.jsdelivr.net/npm/@hiveio/hive-js/dist/hive.min.js"></script>
<script src="https://cdn.jsdelivr.net/remarkable/1.7.1/remarkable.min.js"></script>

<script>
    const now = new Date().toISOString().split('.')[0];
    window.onload = function loading() {

        var user = "sn0n";
console.log(user + " is the default hive user");


        hive.api.getDiscussionsByAuthorBeforeDate(user, null, now, 10, (err, result) => {

            // testing for loop for posts. 
            // data for each post in a loop

            for (var i = 0; i < result.length; i++) {
                console.log(" for loop data : " + JSON.stringify(result[i]));
                //thisPost = JSON.parse(JSON.stringify(result[i]));
                console.log("Author: " + result.author);
                console.log("i is " + i);
            }
        var md = new Remarkable();


        md.set({
    html: true,
    breaks: true,
    xhtmlOut: true,
    linkify: true
});

            // TODO: set loop for each & display inline popup
            var recent1 = JSON.parse(JSON.stringify(result[0]));
            //console.log("recent1 from main: " + recent1.body);
            var recent1date = recent1.created.slice(0, 10);

            var div = document.getElementById('post');

       
            

            // TODO: set loop for each & display inline popup
            var recent1 = JSON.parse(JSON.stringify(result[0]));
            //console.log("recent1 from main: " + recent1.body);
            var recent1date = recent1.created.slice(0, 10);
            post1 = md.render(recent1.body).replace("\n", "");
            post1 = post1.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
            div.innerHTML += '<div id="post" style="display: block; border-bottom: 2px solid red; padding: 1em; margin: 1em; background-color: black; color: #00d1b2; text-align: left"><h1>' + recent1.title + "</h1><small>" + recent1date + "</small><p>" + post1 + "</p></div>";

           
            //document.getElementById("HivePost").innerHTML = marked(recent1.body);
            //console.log("TESTING RECENT POST: " + recent1.body);




            var recent2 = JSON.parse(JSON.stringify(result[1]));
            //console.log("recent 2")
            //console.log(recent2);
            var recent2date = recent2.created.slice(0, 10);
            post2 = md.render(recent2.body).replace("\n", "");
            post2 = post2.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
            div.innerHTML += '<div id="post" style="display: block; border-bottom: 2px solid red; padding: 1em; margin: 1em; background-color: black; color: #00d1b2; text-align: left"><h1>' + recent2.title + "</h1><small>" + recent2date + "</small><p>" + post2 + "</p></div>";


            //document.getElementById("HivePost").innerHTML = marked(recent1.body);
            //console.log("TESTING RECENT POST: " + recent2.body);



            var recent3 = JSON.parse(JSON.stringify(result[2]));
            //console.log(recent3);
            var recent3date = recent3.created.slice(0, 10);
            post3 = md.render(recent3.body).replace("\n", "");
            post3 = post3.replace(new RegExp("<img ", 'g'), "<img width='80%' ");
            div.innerHTML += '<div id="post" style="display: block; border-bottom: 2px solid red; padding: 1em; margin: 1em; background-color: black; color: #00d1b2; text-align: left"><h1>' + recent3.title + "</h1><small>" + recent3date + "</small><p>" + post3 + "</p></div>";


            //document.getElementById("HivePost").innerHTML = marked(recent1.body);
            //console.log("TESTING RECENT POST: " + recent3.body);



            // view more on peakd
            div.innerHTML += "<br /><div style='display: block; border: 2px solid red; padding: 1em; margin: 1em; background-color: black; color: #00d1b2; text-align: left'>View More on <a href='http://peakd.com/@" + user + "/' target='_blank'>peakd.com/@" + user + "</a></div>";
        }); 
    };
</script>