<h1 id="introduction">Introduction</h1>
<p>Welcome to my little spot on github pages, there isnt much here, but feel free to check my <a href="../updates">blog</a> regularly for updates</p>

<a class="topOfPage" href="#top" title="Go to the top of this page">^ TOP</a>