
<!-- <h1>#DriveIdeas2Creation in a sandbox</h1> -->

<script src="../js/aes256.min.js?ver=5.2"></script>
<script src="../js/wordlist.js?ver=5.2"></script>

<div id="playground">

    <div id="generated" style="min-height: 3em; padding: .5em">
        
    </div>



</div>







<style>
    pre {
        outline: 1px solid #ccc;
        padding: 5px;
        margin: 5px;
    }

    .string {
        color: green;
    }

    .number {
        color: darkorange;
    }

    .boolean {
        color: blue;
    }

    .null {
        color: magenta;
    }

    .key {
        color: red;
    }
</style>


<script>

    function output(inp) {
        document.body.appendChild(document.createElement('pre')).innerHTML = inp;
    }

    function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    var obj = { a: 1, 'b': 'foo', c: [false, 'false', null, 'null', { d: { e: 1.3e5, f: '1.3e5' } }] };
    var str = JSON.stringify(obj, undefined, 4);





    function generate(passed) {
        // hivejs.broadcast.customJson(wif, requiredAuths, requiredPostingAuths, id, json, function(err, result) {
        //console.log(err, result);
        //});
        console.log(JSON.parse(passed));
        document.getElementById("playground").innerHTML = "<h3>payload:</h3><pre>" + syntaxHighlight(passed) + "</pre><h3>decrypted message: </h3> Words, Pictures, things & such!<h2><a href='./'>return</a></h2>";
    }

    document.getElementById("playground").innerHTML += "Passphrase <small>(generated at random)</small><br />";
    let first, second, third, fourth, fifth, sixth, phrase = "";

    for (let i = 0; i < 6; i++) {
        first = Math.floor(Math.random() * 6 + 1);
        second = Math.floor(Math.random() * 6 + 1);
        third = Math.floor(Math.random() * 6 + 1);
        fourth = Math.floor(Math.random() * 6 + 1);
        fifth = Math.floor(Math.random() * 6 + 1);
        dice = first + "" + second + "" + third + "" + fourth + "" + fifth;
        phrase += WordList[dice];
        document.getElementById("playground").innerHTML += "<span style='padding-left: 1em'>" + WordList[dice] + "</span>";
    }
    // encryption
    var encrypted = AES256.encrypt('Words, Pictures, things & such!', phrase);
    document.getElementById("playground").innerHTML += '<br /><br /><div>text we are encrypting (message): <br /> Words, Pictures, things & such!</div>';
    document.getElementById("playground").innerHTML += "<br /><div>encrypted <small>w/passphrase</small> (package):</div><div>" + encrypted + "</div>";
    // decryption
    document.getElementById("playground").innerHTML += "<div style='margin-top: 20px'>de-crypted <small>w/phrase</small> (verify same as message):</div>" + AES256.decrypt(encrypted, phrase);
    let new_phrase = "passphrase: " + phrase;
    let account = "empty.space"
    let blokzchain_json =
    {
        "blokz box": [
            'craft',
            {
                "passphrase": phrase,
                "package": encrypted
            }
        ]
    }
        ;
    document.getElementById("generated").innerHTML += "<h3>Review page then press <button onclick='generate(`" + JSON.stringify(blokzchain_json, undefined, 4) + "`)'>test</button></h3>";




</script>