<!---
https://www.eff.org/dice

https://github.com/mervick/aes-everywhere/tree/master/javascript
-->




<div id="passphrase">

    <div id="generated" style="height: 3em; padding: .5em">
    </div>
    <h3 style="text-align: left;">Passphrase <small>generated at random</small></h3>

</div>








<style>

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

</style>


<script>

function output(inp) {
    document.body.appendChild(document.createElement('pre')).innerHTML = inp;
}

function syntaxHighlight(json) {
    json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
    return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
        var cls = 'number';
        if (/^"/.test(match)) {
            if (/:$/.test(match)) {
                cls = 'key';
            } else {
                cls = 'string';
            }
        } else if (/true|false/.test(match)) {
            cls = 'boolean';
        } else if (/null/.test(match)) {
            cls = 'null';
        }
        return '<span class="' + cls + '">' + match + '</span>';
    });
}

var obj = {a:1, 'b':'foo', c:[false,'false',null, 'null', {d:{e:1.3e5,f:'1.3e5'}}]};
var str = JSON.stringify(obj, undefined, 4);





    function generate(passed) {
        // hivejs.broadcast.customJson(wif, requiredAuths, requiredPostingAuths, id, json, function(err, result) {
        //console.log(err, result);
        //});
        console.log(JSON.parse(passed));
        document.getElementById("passphrase").innerHTML = "<strong>Submitted!</strong><br /><pre>" + syntaxHighlight(passed) + "</pre>";
        }
        

    let first, second, third, fourth, fifth, sixth, phrase = "";

        for (let i = 0; i < 6; i++) {
            first = Math.floor(Math.random() * 6 + 1);
            second = Math.floor(Math.random() * 6 + 1);
            third = Math.floor(Math.random() * 6 + 1);
            fourth = Math.floor(Math.random() * 6 + 1);
            fifth = Math.floor(Math.random() * 6 + 1);
            dice = first + "" + second + "" + third + "" + fourth + "" + fifth;
            phrase += WordList[dice];
            document.getElementById("passphrase").innerHTML += "<span style='padding-left: 1em'>" + WordList[dice] + "</span>";
        }
        // encryption
        var encrypted = AES256.encrypt('Words, Pictures, things & such!', phrase);
        document.getElementById("passphrase").innerHTML += '<hr /><div>Phrase we are encrypting: <br /> Words, Pictures, things & such!</div>';
        document.getElementById("passphrase").innerHTML += "<br /><div>Encrypted <small>w/phrase</small>:</div><div style='overflow-wrap: break-word; max-width: 200px; margin: auto'>" + encrypted + "</div>";
        // decryption
        document.getElementById("passphrase").innerHTML += "<div style='margin-top: 20px'>Decrypted <small>w/phrase</small>:</div>" + AES256.decrypt(encrypted, phrase);
        let new_phrase = "passphrase: " + phrase;
        let account = "empty.space"
        let blokzchain_json = 
            {
                "blokz box": [
                    'craft',
                    {
                        "passphrase": phrase,
                        "payload": "Words, Pictures, things & such!",
                        "package": encrypted
                    }
                ]
            }
        ;
        document.getElementById("generated").innerHTML += "<button onclick='generate(`" + JSON.stringify(blokzchain_json, undefined, 4) + "`)'>Submit Generated</button>";




</script>
