<!-- ##### Footer ##### -->
<div class="footer" id="footer">
  <div class="column">
    <h3>Contact &amp; Support</h3>
    <p><a href="https://discord.gg/6QmMgJC" class="navi">Discord</a></p>
    <p><a href="https://peakd.com/@giftgiver" class="navi">Hive</a></p>
    <p><a href="mailto:giftgiver@ryamer.com" class="navi">e-Mail</a></p>
  </div>
  <div class="column">
    <h3>Advertise with Us</h3>
    <p><a href="https://discord.gg/992ZD4d" class="navi">Discord</a></p>
    <p><a href="mailto:giftgiver@ryamer.com" class="navi">e-Mail</a></p>
  </div>
  <div class="column">
    <h3>Support Us</h3>
    <p><a href="https://vote.hive.uno/@hextech" class="navi">Vote for Our Witness</a></p>
    <p><a href="https://peakd.com/@giftgiver" class="navi">Donate Hive</a></p>
  </div>
</div>


<div
   style="position: fixed; left: 50%; border: 1px dashed lightslategray; transform: translate(-50%, 0); text-align: center; width:728px; height:90px; bottom: 0px; font-size: 2em; color: white; z-index: 1;">
   <div style="color: white; padding: 0px; margin: 0px; font-size: .42em; margin-top: -1.05em; position: fixed;">Ad</div>
   <a href="https://self-help.dev" target="_blank"><img src="./images/selfhelpdev.png"></a>
</div>
<!-- ^^^ Ad Block-->