<!-- ##### Footer ##### -->
<div class="footer" id="footer">

  <div class="column">
    <h3>Section</h3>
    <p><a href="#" class="navi">links</a></p>
  </div>

  <div class="column">
    <h3>Section</h3>
    <p><a href="#" class="navi">links</a></p>
  </div>

  <div class="column">
    <h3>Section</h3>
    <p><a href="#" class="navi">links</a></p>
  </div>
  
</div>


<div
   style="position: fixed; left: 50%; border: 1px dashed lightslategray; transform: translate(-50%, 0); text-align: center; width:728px; height:90px; bottom: 0px; font-size: 2em; color: white; z-index: 1;">
   <div style="color: white; padding: 0px; margin: 0px; font-size: .42em; margin-top: -1.05em; position: fixed;">Ad</div>
   <a href="https://self-help.dev" target="_blank"><img src="./images/selfhelpdev.png"></a>
</div>
<!-- ^^^ Ad Block-->