<!-- ##### Footer ##### -->


  <div class="right">
    <a href="../">http://sn0n.com/</a><br />
    This website is <a href="http://copyfree.org/" target="_blank">Copyfree</a>, or was it unlicense(?), Idk, either way ....<br />
    This is Life. It's just a game, have fun. <br />
   Words, Pictures, Things &amp; Such 
   found here should be treated as nothing more than entertainment &amp; food for thought. <br />
   I am NOT responsible for any decisions made by you or anyone else. Your actions are your own.   
  
   <div style="text-align: right">Snahn ip (@sn0n)<br />  
   <a href="/contact/">Contact Info</a> <br />
    - Available for Consultation &amp; Freelance work  <a href="../playground/">-</a>  </div>
  </div>



<img onclick="javascript:location.href='#'" src="../images/puffboy.gif" style="padding: 2em" width="45px" height="45px"> 


<div
style="position: fixed; left: 50%; transform: translate(-50%, 0); text-align: center; bottom: 0px; width: 55ch; color: white; z-index: 1;">
  <a href="https://blokz.io" target="_blank"><img src="../images/blokz_ad.png" /></a>
</div>
<!-- ^^^ Ad Block-->
