<title><%= site.title %> - <%= site.version %> </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/styles.css?ver=5.2">

<link rel="icon" href="../images/favicon.png">

<!-- stats -->
<script async defer data-website-id="f6e2487d-795a-43cb-9e5a-c2a994825960" src="https://stats.hextech.group/umami.js"></script>
<!-- playground stuff -->
