<!-- ##### navigation ##### -->
<nav style="right: 10px; top: 20px;  position: absolute; color: white; z-index: 1">
  <a class="navi" href="#learnmore">Learn More</a>
  <a class="navi" href="#" onClick="DisplayPostFAQ()">About &amp; FAQ</a>
  <a class="navi" href="#footer">Contact &amp; Support</a>
</nav>
